@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import "tailwindcss"; 

@theme {
    --color-gray-lightest: #E9EAEB;
    --color-gray-light: #D5D7DA;
    --color-gray-normal: #999FAC;
    --color-gray-medium: #535862;
    --color-gray-dark: #181D27;
    --color-gray-darkest: #252826;
    --color-gray-text: #414651;
    --color-gray-text-dark: #191919;
    --color-green-brand-light: #DCEFE1;
    --color-green-brand-dark: #297F47;
}

html, body {
  font-family: 'Inter', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
}

.button-shadow {
    transition: transform 0.15s cubic-bezier(0.4,0,0.2,1), box-shadow 0.2s;
    cursor: pointer;
}

.button-shadow:hover {
  transform: translateY(-1px);
}

.button-shadow:active {
  transform: translateY(-3px);
}

.button-shadow:focus {
  box-shadow:
    0px 1px 2px 0px rgba(10, 13, 18, 0.05),
    0px 0px 0px 4px rgba(0,0,0,0.1);
  outline: none;
}

.button-shadow-light {
  transition: transform 0.15s cubic-bezier(0.4,0,0.2,1), box-shadow 0.2s;
  cursor: pointer;
}

.button-shadow-light:hover {
  transform: translateY(-1px);
}

.button-shadow-light:active {
  transform: translateY(-3px);
}

.button-shadow-light:focus {
  box-shadow:
    0px 1px 2px 0px rgba(10, 13, 18, 0.05),
    0px 0px 0px 4px rgba(0,0,0,0.05);
  outline: none;
}

.shadow-card {
  box-shadow: 0px 12px 16px -4px rgba(10, 13, 18, 0.08);
}